body {
  margin: 0px;
}

.App {
  text-align: center;
}

.logo {
  width: 176px;
}

.navbar {
  background-color: #0579a3;
  padding: 30px;
}

h1 {
  font-family: Josefin Sans;
  font-weight: 300;
  font-style: normal;
  font-size: 48px;
}

.mainBox {
  max-width: 700px;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
}

a:link,
a:visited {
  color: black;
}

a:hover, a:active {
  color: white;
}
